body{
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}


@font-face {
  font-family: 'startup-font';
  src: url('../fonts/startup-font.eot?81745674');
  src: url('../fonts/startup-font.eot?81745674#iefix') format('embedded-opentype'),
       url('../fonts/startup-font.woff2?81745674') format('woff2'),
       url('../fonts/startup-font.woff?81745674') format('woff'),
       url('../fonts/startup-font.ttf?81745674') format('truetype'),
       url('../fonts/startup-font.svg?81745674#startup-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "startup-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
.icon-font:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-align-justify:before { content: '\e804'; } /* '' */
.icon-up:before { content: '\e805'; } /* '' */
.icon-up-bold:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */

.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/*--------------------------------general--------------------------------*/
a,a:hover,a:active{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,ul,li,p,a,span{
	padding: 0;
	margin: 0;
}

.general-sections-header{
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	justify-content: center;
	flex-basis: 100%;
	flex-direction: column;
	padding-top: 100px;
	align-items: center;
}

.section-header{
	color: #555;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
}

.section-title{
	position: relative;
	color: #555;
	font-size: 16px;
	line-height: 16px;
	padding: 64px 0 0 0;
}

.section-title::before{
	position: absolute;
	content: '';
	width: 50px;
	height: 2px;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #555;
}

#scrollup {
	position: fixed;
	padding: 15px;
	background: #555;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	right: 10px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	z-index: 9999;
}
/*#c0301c;*/

#scrollup:hover{
	background: #c0301c;
	transition: .4s;
}

.icon-up{
	color: #fff;
	font-size: 25px;
}

/*--------------------------------HEADER--------------------------------*/

.header{
	position: relative;
	background: url('../images/header-bg.jpg')no-repeat center;
	max-height: 770px;
}

.header::after{
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.45);
	z-index: 0;
}

.header .container{
	position: relative;
	z-index: 5;
}

.navigation{
	z-index: 5;
}

.brand{
	float: left;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	margin: 40px 0;
	z-index: 5;
}

.brand:hover{
	color: #F36363;
	transition: .4s;
}

.navmenu{
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	justify-content: flex-end;
}

.nav{
	align-items: center;
	list-style: none;
	z-index: 3;
}

.nav li{
	float: left;
	margin: 42px 16px;
}

.nav li:first-child{
	margin-left: 0;
}

.nav li:last-child{
	margin-right: 0;
}

.nav li a{
	display: inline-block;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 15px;
}

.nav li a:hover{
	color: #F36363;
	transition: .4s;
}

.main-content{
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	padding: 240px 0;
	align-items: center;
	text-align: center;	
	flex-direction: column;
}

.header-content{

}

.main-content-header{
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.main-content-title{
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	padding: 30px 0 73px 0;
}

.main-content-link{
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 17px 32px;
	font-size: 16px;
	line-height: 16px;
	font-family: 'Montserrat', sans-serif;
}

.main-content-link:hover{
	background-color: #c0301c;
	transition: .4s; 
}
/*--------------------------------SERVICES--------------------------------*/
.services-content{
	margin: 72px 0 95px 0;
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	justify-content: center;
}

.services-content-item{
	text-align: center;
	margin: 0 15px 0 15px;
	max-width: 365px;
	transition: .4s;
}

.services-content-item:first-child {margin-left: 0;}
.services-content-item:last-child {margin-right: 0;}

.services-content-item:hover .services-content-icon{
	color: #fff;
	background-color: #c0301c;
	transition: .4s;
}

.services-content-icon{
	display: inline-block;
	padding: 20px 20px 20px 20px;
	background-color: #fff;
	border-radius: 100%;
	border: 2px solid #ddd;
	align-items: center;
	justify-content: center;
	font-size: 47px;
	color: #c0301c;
}

.services-content-header{
	padding: 30px 0 26px 0;
	color: #555;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
}

.services-content-title{
	font-size: 14px;
	line-height: 24px;
	color: #555;
}

/*--------------------------------ABOUT US--------------------------------*/
.about-us{
	background-color: #f8f8f8;
}

.about-us-content{
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  }

.left-content{
	margin: 70px 15px 0 0;
}

.right-content{
	margin: 70px 0 0 15px;
}

.left-content p,
.right-content p{
	max-width: 560px;
	width: 100%;
	color: #555;
}

.about-us-slider{
	padding: 73px 0 93px 0;
}

.slider-item{
	position: relative;
	text-align: center;
}

.slider-item img{
	display: inline-block;
	max-width: 263px;
	max-height: 250px;
	width: 100%;
	height: 100%;
}

.slider-item-initials{
	padding: 18px 0;
	color: #555;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.slider-item-profession{
	color: #555;
	font-size: 13px;
	line-height: 13px;
}

.slider-socials{
	display: none;
	position: absolute;
	content: '';
	width: 150px;
	top: 190px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.slider-socials a{
	color: #fff;
	padding: 8px 6px;
	font-size: 13px;
	line-height: 13px;
}

.slider-socials a:hover{
	background-color: #c0301c;
}

.slider-darken{
	display: none;
	position: absolute;
	content: '';
	width: 263px;
	height: 250px;
	top: 0;
	left: 10px;
	bottom: 0;
	right: 0;
	background-color: rgba(85,85,85,.5);
	z-index: 1;
}

.slider-item:hover .slider-socials,
.slider-item:hover .slider-darken{
	display: block;
}



/*--------------------------------LATEST WORKS--------------------------------*/
.section-title a{
	margin: 0 15px;
	color: #555;
	font-size: 16px;
	line-height: 15px;
}

.section-title a:hover{
	color: #c0301c;
}

.latest-works-images{
	margin: 60px 0 90px 0;
	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	flex-wrap: wrap;
}

.latest-works-item{
	position: relative;
	margin: 10px;
	max-width: 360px;
	max-height: 320px;
	width: 100%;
	height: 100%;
}

.latest-works-item-hover{
	text-align: center;
	display: none;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 6;
}

.latest-works-item-hover-red-bg{
	display: none;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(192,48,28,.7);
	z-index: 1;
}

.latest-works-item:hover .latest-works-item-hover,
.latest-works-item:hover .latest-works-item-hover-red-bg{
	display: block;
}

.latest-works-item-hover-header{
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.latest-works-item-hover-title{
	font-size: 12px;
	line-height: 12px;
	color: #fff;
	padding: 18px 0 39px 0;
}

.latest-works-item-hover-link{
	color: #fff;
	border: 1px solid #fff;
	font-size: 14px;
	line-height: 14px;
	padding: 12px 35px;
	text-transform: uppercase;
}

.latest-works-item-hover-link span{
	font-size: 20px;
}

.latest-works-item-hover-link:hover{
	color: #FF9090;
	border: 1px solid #FF9090;
}



/*--------------------------------YOUR PROJECT--------------------------------*/
.your-project{
	position: relative;
	background: url('../images/your-project-bg.jpg') no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	z-index: 1;
}

.your-project::after{
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(192,48,28,.6);
}

.your-project-header{
	position: relative;
	display: inline-block;
	margin: 100px 0 70px 0;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	max-width: 460px;
	z-index: 5;
	font-weight: normal;
}

.your-project-link{
	color: #fff;
	position: relative;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	padding: 16px 25px;
	margin-bottom: 100px;
	border: 2px solid #fff;
	z-index: 5;
	text-transform: uppercase;
}

.your-project-link:hover{
	color: #F36363;
	border: 2px solid #F36363;
}


/*--------------------------------RECENT BLOG POST--------------------------------*/
.blos-items{
	padding: 35px 0 65px 0;
}

.blog-item{
	padding: 35px 0;
	border-bottom: 1px solid #ddd;
}

.blog-item:last-child{
	border: none;
}

.blog-item img{
	float: left;
}

.blog-item-content{
	float: left;
	vertical-align: top;
	margin-left: 40px;
}

.date-post{
	float: left;
	text-align: center;
	border: 2px solid #555;
	padding: 10px 15px;
}

.date-post p{
	color: #555;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
}

.header-post{
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #555;     
	text-transform: uppercase;
	margin: 13px 0 0 28px;
}

.post-header{
	float: left;
}

.header-post-item{
	float: left;
	display: block;
	font-style: italic;
	margin: 19px 0 0 28px;
	font-size: 13px;
	line-height: 13px;
	color: #555;  
}

.post-text{
	margin-top: 20px;
	float: left;
	max-width: 640px;
	line-height: 28px;
	color: #555;
}

.post-link{
	margin-top: 37px;
	float: left;
	text-transform: uppercase;
	color: #555;
	font-weight: bold;
}

.blog-item:hover .header-post,
.blog-item:hover .post-item-hover,
.blog-item:hover .post-link{
	color: #c0301c;
}


/*--------------------------------SLIDER--------------------------------*/



/*--------------------------------GET IN TOUCH--------------------------------*/




/*--------------------------------FOOTER--------------------------------*/

